@import "helpers/functions";
@import "helpers/mixins";

$white: #FFFFFF;
$black: #000000;
$deep-grey: #1F2022;
$yellow: #dea303;
$light-grey: #F1F1F1;
$light-blue-30: #479FC8;

$shadow: 0 3px 12px 0 rgba(0, 0, 0, .15);
